body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*============ Header ============*/

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
}

.header-soc {
  font-style: normal;
  /* padding-top: 16px; */
  /* margin-left: auto;
    display: none; */
}
.header-soc-item {
}

.header-logo {
  font-family: "Raleway", sans-serif;
  flex-shrink: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header-menu {
  display: none;
  gap: 40px;
}

.header-menu-item {
}

.header-logo-studio {
  color: #2e2f42;
}

.header-menu-link {
  /* color: var(--NAVY-BLUE, #2e2f42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition-property: color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */

  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.line-link {
  position: relative;
  color: #404bbf;
}

.line-link::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: currentColor;
}

.header-soc-list {
  display: none;
  gap: 40px;
  align-items: center;
}

.header-soc-link {
  color: inherit;
  font-size: 12px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition-property: color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active:hover,
.active:focus {
  color: #404bbf;
}

.menu-open-btn {
  border: none;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open-btn:hover,
.menu-open-btn:focus {
  fill: #404bbf;
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-close-btn {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  border: 1px solid #e7e9fc;
  border-radius: 50%;
  background-color: transparent;
  width: 24px;
  height: 24px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover,
.menu-close-btn:hover {
  background-color: #404bbf;
  border: none;
}

.menu-icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover .menu-icon-close,
.menu-close-btn:hover .menu-icon-close {
  fill: #ffffff;
}

.mob-menu-list {
  margin-bottom: 40px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.active-studio {
  color: #404bbf;
}

.mob-contact-list {
  margin-top: auto;
  margin-bottom: 48px;
}

.mob-contact-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-contact-link {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.active-tel {
  color: #4d5ae5;
}

.mob-soc-link {
  display: flex;
  gap: 40px;
}

.mob-soc-item {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.mob-soc-icon-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
}

.mob-soc-icon {
  fill: #f4f4fd;
}
.mob-soc-icon-link:hover,
.mob-soc-icon-link:active {
  background-color: #31d0aa;
}

/* -------------mob menu---------------- */

.header {
  padding: 0 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-navigation {
  display: flex;
}
.header-logo {
  display: flex;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo span {
  color: #2e2f42;
}
.mobile-menu-button {
  border-style: none;
  background: transparent;
  margin: 0px 0px;
  padding: 0px 0px;
  margin-left: auto;
}
.header-menu-item {
  position: relative;
}
.header-menu {
  display: none;
}
.header-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.header-link.current {
  color: #404bbf;
}
.header-link:hover::after {
  width: 100%;
}
.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  transition: width 300ms ease-in-out;
  margin-top: 20px;
  bottom: -1px;
}
.address {
  font-style: normal;
  margin-left: auto;
  display: none;
}
.address-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
.adress-lists {
  display: flex;
  gap: 40px;
  align-items: center;
}

/* ============ 1 section ============ */

.first-section {
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-mob-x1-min.jpg);

  max-width: 320px;
  min-height: 432px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-mob-x2-min.jpg);
  }
}
.title-first {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 160px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 72px;
}
.button {
  cursor: pointer;
  display: block;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 56px;
  min-width: 169px;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* ============ 2 section ============ */

.second-list-info {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.second-section {
  padding: 96px 0;
}
.section-second-structure {
}
.title-second-section {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.text-second-section {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.box-for-icon {
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.icon {
}

/* =========== 3 section ============= */

.section-third {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.section-third-superior-heading {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.title-third-section {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.third-list {
  background-color: #f4f4fd;
  display: flex;
  gap: 72px;
  flex-direction: column;
  align-items: center;
}
.third-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  height: 428px;
  width: 264px;
}
.job_title {
  padding: 32px 0;
}
.text-third-section {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.social-links {
  fill: none;
  display: flex;
  gap: 24px;
  /* flex-shrink: 0;
    align-self: flex-end; */
  justify-content: center;
}
.social-item {
  /* display: flex;
    background-color: #4d5ae5;
    border-radius: 50%;
     */
  width: 40px;
  height: 40px;
}
.link-third {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  fill: #f4f4fd;
}

/* =========== 4 section ============= */

.portfolio {
  padding: 120px 0;
}
.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  flex-direction: column;
  align-items: center;
}
.portfolio-item {
  max-width: 288px;
  max-height: 100%;
  /* width: calc((100% - 48px) / 3);  */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .overlay {
  transform: translateY(0%);
}
.all-hover {
  position: relative;
  overflow: hidden;
}
.overlay {
  color: #f4f4fd;
  display: flex;
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #4d5ae5;
  padding: 40px 32px;

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-type {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  width: 100%;
}
.portfolio-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* =========== Footer ============= */

.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.footer-logo-container {
  padding: 0;
  margin: 0;
}

.footer-socmedia-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.footer-link-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo-text {
  color: #f4f4fd;
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 288px;
  margin: 0 auto;
}

.footer-soc-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-soc-link {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-icon-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
  fill: #f4f4fd;
}

.footer-soc-icon-link:hover,
.footer-soc-icon-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-label {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
}

.footer-form-input {
  width: 288px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  outline: transparent;
  padding-left: 16px;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-form-input::placeholder {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #404bbf;
}

.footer-sb-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/* ======================== */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
}

.modal-btn {
  padding: 0;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #e7e9fc;
  font: #e7e9fc;

  display: flex;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}
.modal-text {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-form-box {
  margin-bottom: 8px;
}
.modal-form-box-textarea {
  margin-bottom: 16px;
}
.form-modal {
  /* display: flex;
    width: 360px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px; */
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12))
    drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
}
.modal-input {
  font-family: inherit;
  font-size: 16px;

  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-left: 38px;

  height: 40px;
}

.modal-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.input-wrap {
  position: relative;
}
.modal-form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-text {
  /* margin-top: 8px; */

  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:hover,
.form-textarea:focus {
  border-color: #4d5ae5;
}
.form-textarea::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}
.check-text {
  /* display: flex; */
  /* align-items: center; */
  /* 
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99; */
  display: flex;
  color: rgba(64, 64, 64, 0.6);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  align-items: center;
  color: #8e8f99;
}
.modal-form-check {
  margin-bottom: 24px;
}
.modal-form-check a {
  color: var(--IRIS, #4d5ae5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}
.chech-text-box {
  display: inline-flex;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: transparent;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .check-text .chech-text-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.check-link {
  color: #4d5ae5;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 16px;
  }

  /*======== header ========*/

  .header-container {
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .mobile-menu-button {
    display: none;
  }
  .header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    margin-left: 120px;
  }
  .address {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .address-link {
    font-size: 12px;
  }
  .adress-lists {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  /*======== sec 1 ========*/
  .first-section {
    max-width: 768px;
    padding: 0px 0px;
  }
  .first-container {
    padding: 112px 0px;
    margin: 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .title-first {
    min-width: 496px;
    min-height: 120px;
    font-size: 56px;
    margin-bottom: 36px;
  }
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-tab-x1-min.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .first-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background-tab-x2-min.jpg);
    }
  }
  /*======== sec 2 ========*/
  .container {
    max-width: 768px;
  }
  .section-second-structure {
    width: calc((100% - 24px) / 2);
  }
  .second-list-info {
    gap: 72px 24px;
    padding: 0;
  }
  .title-second-section {
    text-align: left;
  }
  /*======== sec 3 ========*/
  .third-list {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  /*======== sec 4 ========*/
  .portfolio-list {
    flex-direction: row;
    gap: 72px 24px;
    justify-content: center;
  }
  .portfolio-item {
    gap: 72px 24px;
    max-width: 356px;
    max-height: 420px;
  }
  /*======== footer ========*/
  .footer-container {
    gap: 72px 24px;
  }
  .footer-container {
    max-width: 584px;
  }
  .footer-socmedia-container {
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    margin: 0;
  }
  .footer-link-logo {
    display: inline-block;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-subscribe {
    display: block;
  }
  .footer-form {
    flex-direction: inherit;
  }
  .footer-form-input {
    width: 264px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal {
    width: 288px;
    height: 623px;
    flex-shrink: 0;
    padding: 72px 16px 24px 16px;
  }
}

@media screen and (min-width: 1158px) {
  /*======== header ========*/
  .header-container {
    display: flex;
    align-items: center;
  }
  .header-menu {
    margin-left: 76px;
  }
  .address-link {
    font-size: 16px;
  }
  .adress-lists {
    align-items: center;
    flex-direction: row;
  }

  /*======== sec 1 ========*/
  .first-section {
    max-width: 1440px;
    padding: 188px 0;
  }
  .first-container {
    padding: 0;
  }
  .title-first {
    margin-bottom: 48px;
    margin-left: auto;
  }

  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-desk-x1-min.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .first-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background-desk-x2-min.jpg);
    }
  }
  /*======== sec 2 ========*/

  .section-second-structure {
    width: calc((100% - 72px) / 4);
  }
  .box-for-icon {
    display: flex;
  }
  .title-second-section {
    font-size: 20px;
    font-weight: 400;
  }
  .second-list-info {
    gap: 24px;
  }
  /*======== sec 3 ========*/
  .third-list {
    flex-direction: row;
    gap: 24px;
    justify-content: center;
  }
  /*======== sec 4 ========*/
  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }
  .portfolio-item {
    max-width: 360px;
    max-height: 420px;
  }
  /*======== footer ========*/
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer {
    padding: 100px 0;
  }
  .footer-container {
    align-items: baseline;
    padding-left: 15px;
    gap: 0;
  }
  .footer-logo-container {
    margin-right: 120px;
  }
  .footer-link-logo {
    display: inline-block;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-subscribe {
    margin-left: 80px;
  }
  .footer-form-input {
    width: 264px;
  }
  .footer-form-btn {
    min-width: 165px;
  }
}

/* 
.portfolio-img {
    width: 100%;
    flex-shrink: 0;
  } */
